

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');



h1{
    color: white;
    text-align: center;

}
body{
    background-color:black;

}
img{
    width: 300px;
    
}
p{
    text-align: center;
}

